body {
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 80%;
	margin: 0 auto;
	line-height: 1.3em;
}

h1 {
	font-size: 2em;
	margin-top: 3em;
	color: orange;
}

h2 {
	color: #444;
	margin-bottom: -.5em;
}

h3 {
	color: #666;
	margin-bottom: -.5em;
}

h1 span {
	color:#ccc;
	font-weight: normal;
}

small {
	font-size: .6em;
}

code {
	background-color:#f8f8f8;
	padding: .1em .4em;
	border:1px solid #ddd;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.example {
	max-width: 40em;
	background-color:#f8f8f8;
	padding: 2em 1em 1em;
	position: relative;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.example:after {
	content: "Example";
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: .8em;
	padding: .1em .3em;
	background-color: #ddd;
	-webkit-border-radius: 0px 0px 4px 0px;
	border-radius: 0px 0px 4px 0px;
}

.example h1 {
	margin-top: 0;
	color:black;
}

h1 span {
	color:#ccc;
	font-weight: normal;
}

ul.unstyled {
	list-style: none;
	padding-left: 0;
}

ul.inline {
	padding: 0;
}

ul.inline > li {
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: .5em;
}
